<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src= "-- firebase --" </script> 
	<script>
	angular.module("BabyApp", ["firebase"])
	.controller("BabyController", function($scope, $firebase){   //check that this is the total controller you need, also you won't call it baby app or baby controller

	var ticTacRef = new Firebase ("https://fiery-fire-8597.firebaseio.com/games"); //check that this is the right link


	 function PlayerLeft($scope) {
    $scope.name = "";
  }

   function PlayerRight($scope) {
    $scope.name = "";
  }

//firebase
	$scope.btnIWannaPlayClick = function(){
		// Is there a game that I can graft onto?
		ticTacRef.once("value", function(data){
			var lastGame;
			var games = data.val();	// Get the real objects out of the angularified blob
			if(games != null)
			{
				console.log(games);
				var keys = Object.keys(games);	// Get all the screwy text keys
				var lastKey = keys[keys.length - 1];	// Find the last key
				
				 lastGame = games[lastKey];	// Use the last key to get the last game object


				if(lastGame.waiting==true)
				{
					// Currently someone like JoJo is waiting to play
					// Find the Angular version of this game
					lastGame = ticTacRef.child(lastKey);
					// whoseTurn = 1 for player 1, 2 for player 2, 3 for player 1 won, 4 for player 2 won, and 5 for a draw (from Lorin's firebase lecture)
					lastGame.set( {waiting: false, winner: null, gameover: false, isTurn: true, board:['','','','','','', '','','',]} );
					player1= false;
				}
				else
				{
					// This is like when JoJo had walked up and wanted to start playing TicTacToe
					lastGame = ticTacRef.push( {waiting: true} );
					player1 =true;
				}

			}
			else // I got no game :(
			{
				// This is like when JoJo had walked up and wanted to start playing TicTacToe
				lastGame = ticTacRef.push( {waiting: true} );
				player1 = true;
			}
			$scope.game=$firebase(lastGame)
			console.log(lastGame);
			});

  

	function SimptactoeController($scope) {
	//$scope.board = ['','','','','','', '','','',];



	



	// $scope.clicker = function(cellIndex) {




// it makes it so if the board is blank it puts x or o, it if is not blank it goes to the end.  How can you add Milhouse getting punched?

	//$scope.winFunction();
	// gameStatus = false;

		// if ($scope.player === true) {
		// 	$scope.board[cellIndex]= 'X';
		// }
		// else {
		// 	$scope.board[cellIndex]= 'O';
		// }




//	console.log("X wins" + gameStatus=false);}
//showMessage();}
// message = "X" wins!;
// gameStatus = false; <-- add after each

		
		
		
		$scope.player = true;



	$scope.clicker = function(cellIndex) {
		console.log($scope.board[cellIndex])
		if ($scope.board[cellIndex] != "D'Oh!" && $scope.board[cellIndex] != 'X') {
//scope.game.cells for Firebase
			if ($scope.player == true) {
				$scope.board[cellIndex]= 'X'; $scope.player=false;
			}
			else {
				$scope.board[cellIndex]= "D'Oh!"; $scope.player=true;
			}

		};

	};


// var message = "";

// var showMessage =  function () {
	// document.getElementById('result').style.display = 'block'
	// document.getElementById('result').innerHTML = message;
	// };

//     } 
//<-- displays a hidden div 


 // function checkForWinner(cells) {
 // if (cells[0]=='O' && cells[1] == 'O' && cells[2] = 'O') {
 // 	alert("O Won");

 // if (cells[3]=='O' && cells[4] == 'O' && cells[5] = 'O') {
 // 	alert("O Won");

 // if (cells[6]=='O' && cells[7] == 'O' && cells[8] = 'O') {
 // 	alert("O Won");

 // if (cells[0]=='O' && cells[3] == 'O' && cells[6] = 'O') {
 // 	alert("O Won");

 // if (cells[1]=='O' && cells[4] == 'O' && cells[7] = 'O') {
 // 	alert("O Won");

 //  if (cells[2]=='O' && cells[5] == 'O' && cells[8] = 'O') {
 // 	alert("O Won");

 //  if (cells[0]=='O' && cells[4] == 'O' && cells[8] = 'O') {
 // 	alert("O Won");

 //  if (cells[2]=='O' && cells[4] == 'O' && cells[6] = 'O') {
 // 	alert("O Won");
 // }
// copy and replace for "X Won"
 



//win:
	// [0] , [1] , [2] 
	// [3], [4], [5]
	// [6], [7], [8],
	// [0], [3], [6],
	// [1], [4], [7],
	// [2], [5], [8],
	// [0], [4], [8],
	// [2], [4], [6],



};
	
	</script>

	<title>SimpsTacToe</title>
	<style>
		body {
			background-image: url("img/simpsons_background.jpeg");
		}

	.board { 
		width: 500px; 
		margin: 0 auto;
		font-size: 40px;
		}
	.cells {
		height: 140px;
		width: 140px;
		border: 3px solid yellow;
		background-color: #92D4F7;
		color: white;
		float: left;
		text-align: center;
		font-size: 60px;
		padding-top: 40px;
		}
	h1{
		text-align: center;
	}

	#result {
		color: white;

	#playerleft {
		 margin: 40px;
		 padding: 40px;
		 color: white;
		 display: inline;

	 }
	.ng-scope {
		margin: 40px;
		padding: 40px;
		color: yellow;
		border: 3px solid red;
		display: inline;
	}
	div .players {
		diplay: inline-block;
	}
		
	}
</style>
	

</head>
<body x-ng-app="" x-ng-controller="SimptactoeController">
	<h1>Simp Tac Toe</h1>

	<div  ng-controller="PlayerLeft">Enter name: <input type="text" ng-model="name"><br>
  Player X is: <span ng-bind="name"></span>!</div>
   

   <div  ng-controller="PlayerRight">Enter name: <input type="text" ng-model="name"><br>
  Player D'Oh! is: <span ng-bind="name"></span>!</div>

 
  <div class="board">
          <div class="cells" x-ng-repeat="b in board track by $index" x-ng-click="clicker($index)"> {{ b }}
          </div>
     </div>
    

     <div id="result">
<div id="waitnotification">
	{{game.waiting}}



</body>
</html>